
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px;
     /* background: purple; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 99;
}

body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-image: url('./assets/background.jpg');
     background-size: cover;
     background-position: center;
}

.nav-header a{
     position: relative;
     font-size: 1.1em;
     color: #fff;
     text-decoration: none;
     font-weight: 500;
     margin-left: 40px;
}
.nav-header a::after{
     content: '';
     position: absolute;
     left: 0;
     bottom: -6px;
     width: 100%;
     height: 3px;
     background: #fff;
     border-radius: 5px;
     transform: scaleX(0);
     transition: .5s;
     
}

.nav-header a:hover::after{
     transform: scaleX(1);
}

.nav-header .btn-own{
     width: 130px;
     height: 50px;
     background: transparent;
     border: 2px solid #fff;
     outline: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 1.1em;
     color: #fff;
     font-weight: 500;
     margin-left: 40px;
     transform-origin: .5s;
     
}
.btn-login{
     width: 130px;
     height: 50px;
     background: transparent;
     border: 2px solid #fff;
     outline: none;
     border-radius: 6px;
     cursor: pointer;
     font-size: 1.1em;
     color: #fff;
     font-weight: 500;
     margin-left: 30px;
     transform-origin: .5s;
     
}
.nav-header .btn-own:hover{
     background: #fff;
     color: #162938;
}
.btn-login:hover{
     background: #fff;
     color: #162938;
}
.wrapper{
     position: relative;
     width: 400px;
     height: 440px ;
     background: transparent;
     border: 2px solid rgba(225, 225, 225, .5);
     border-radius: 20px;
     backdrop-filter: blur(20px);
     box-shadow: 0 0 30px rgba(0, 0, 0, .5);
     display: flex;
     justify-content: center;
     align-items: center;
}
.wrapper .form-box{
     width: 100%;
     padding: 40px;
}

.form-box h2{
     font-size: 2em;
     color: #162938;
     text-align: center;
}
.input-box{
     position: relative;
     width: 100%;
     height: 50px;
     border-bottom: 2px solid #162938;
     margin: 30px 0;
}    
.input-box label{
     position: absolute;
     top: 50%;
     left: 5px;
     transform: translateY(-50%);
     font-size: 1em;
     color: #162938;
     /*color: #fff;
     */font-weight: 500;
     pointer-events: none;
     transition: .5s;
     
}
.input-box input:focus~label,
.input-box input:valid~label{
     top: 5px;
}

.input-box input{
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none;
     padding: 0 35px  0 5px;
}
